.compra{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    padding: 1rem;
    margin: 1rem;
    background-color: #C0B195;
}

.compra a{
    text-decoration: none;
    border: 2px solid #E1D9BF;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #E1D9BF;
    padding: 0.5rem 2rem;
    background-color: #1C312A;
    color: #E1D9BF ;
}

.compra a:hover{
    border: 2px solid  black;
    background-color:#70875D;
    color: black;
    box-shadow: 2px 2px 4px black;
}