.perfil{
    display: flex;
    flex-direction: column;
    background-color: #C0B195;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;
    padding: 1rem 2rem;
    margin: 1rem;
}

.perfil h2{
    text-align: center;
}